.poke-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 80%;
    padding: 10px;
    margin-right: 10px;
    background-color: #bff9ff;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 6px;
    border: 1px solid rgba(85, 85, 85, 0.5);
}

.poke-list::-webkit-scrollbar {
    width: 10px;
}

.poke-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}