.detail-view {
    width: 50%;
    height: 100%;
    padding: 10px;
    background-color: #a8ffb7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sprite-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    margin: 10px auto;
    background-color: #ffffff;
    border: 15px solid #585858;
    border-radius: 5px;
    color: #585858;
}

.data-wrapper {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: #585858;
    border-radius: 5px;
    color: #fff;
}

.data-name {
    margin: 0 0 5px;
}

.data-char {
    font-size: 20px;
}